@charset "utf-8";
/* CSS Document */


/*
Theme Name: Startup Responsive Landing page Template
Version: 1.0
Author: Surjith SM
Author URI: http://themeforest.net/user/surjithctly
*/


/******************  Table of Contents  *****************************/

/*

1. GLOBAL STYLES
2. HEADER
3. HERO IMAGE
4. FEATURES
5. TESTIMONIALS
6. PLANS AND PRICING
7. FAQ
8. FOOTER
9. CUSTOM MEDIA QUERIES
10. BLOG

If you having trouble in editing css. please send a mail to support@surjithctly.in -
I will really help you

*/

/*========== 1. GLOBAL STYLES ==============*/


body {
    font-family: 'Open Sans', Arial, sans-serif;
    background:#FFF;
    font-weight:300;
    height: 100%;
    margin: 0;
    padding: 0;
    color:#94a3a8;
}
strong, b {
    font-weight:600;
}
h1 {
    font-size:50px;
    line-height:60px;
    margin:25px 0;
}
h2 {
    font-size:40px;
    font-weight:600;
    margin:15px 0;
}
h3 {
    font-size:20px;
    margin:10px 0;
    font-weight:600;
}
h4 {
    font-size:20px;
    margin:10px 0;
}
h5 {
    font-size:24px;
    font-weight:600;
    margin:15px 0;
    color: #384047;
}
h6 {
    font-size:16px;
    font-weight:600;
    margin:10px 0;
    color: #384047;
}
a {
    color:#5173bd;
}
a:hover, a:focus {
    color:#5173bd;
}
.preloader {
    background-color:#FFFFFF;
    position:fixed;
    width:100%;
    height:100%;
    z-index:9999999;
}
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 9999999;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #fff;/*border: 1px solid #e34e47;*/
}
.pace .pace-progress {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width 1s ease-in-out 1s linear;
    -moz-transition: width 1s ease-in-out 1s linear;
    -ms-transition: width 1s ease-in-out 1s linear;
    -o-transition: width 1s ease-in-out 1s linear;
    transition: width 1s ease-in-out 1s linear;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    max-width: 100%;
    position: fixed;
    z-index: 9999999;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    background: #61b5f0;
}
.pace.pace-inactive {
    display: none;
}
.btn, .btn-lg, .input-lg {
    border-radius:3px;
}
.form-control {
    border-radius: 3px;
    -webkit-box-shadow:none;
    box-shadow:none;
}
.input-lg {
    height: 55px;
}
.btn-lg, .btn-group-lg > .btn {
    padding: 10px 28px;
    height: 52px;
}
.breath {
    margin:50px auto;
}
.highlight {
    /*background:#209ab8;*/
    background: #0d7ec4; /* Old browsers */
    background: -moz-linear-gradient(top,  #0d7ec4 0%, #0a76b9 19%, #035b98 52%, #045a93 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0d7ec4), color-stop(19%,#0a76b9), color-stop(52%,#035b98), color-stop(100%,#045a93)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0d7ec4 0%,#0a76b9 19%,#035b98 52%,#045a93 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0d7ec4 0%,#0a76b9 19%,#035b98 52%,#045a93 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0d7ec4 0%,#0a76b9 19%,#035b98 52%,#045a93 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #0d7ec4 0%,#0a76b9 19%,#035b98 52%,#045a93 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d7ec4', endColorstr='#045a93',GradientType=0 ); /* IE6-9 */
    margin-top:40px;
}

.has-margin-vertical {
    margin:20px 0 30px;
}

.has-margin-bottom {
    margin-bottom:40px;
}

/*========== 1 a. SUB PAGES ==============*/


.subpage-head {
    background-color:#f4f4f4;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-bottom:40px;
}

/*========== 2. HEADER ==============*/

.masthead {
    position: relative;
    padding: 80px 15px;
    color: #FFF;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    background-color: #6883cc;
    background-image:url(../images/header2jpg.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* Initial Subtle Animation*/

.masthead .container {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
.loading * {
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -ms-animation: none !important;
    -o-animation: none !important;
}
@keyframes fadein {
    from {
        opacity:0;
        -webkit-transform: translateY(-30px);
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    to {
        opacity:1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
        -webkit-transform: translateY(-30px);
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    to {
        opacity:1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
        -webkit-transform: translateY(-30px);
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    to {
        opacity:1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
        -webkit-transform: translateY(-30px);
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    to {
        opacity:1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
}
/*animation ends*/

.logo {
    padding: 45px 0;
    text-align:center;
}
.btn-large {
    font-size:18px;
    padding:20px 50px;
    margin:5px 10px;
}
.btn-success {
    background-color: #2ecc71;
    background-image:none;
    border: 0;
    -webkit-box-shadow: 0 3px 0 rgba(2, 154, 67, 1);
    box-shadow: 0 3px 0 rgba(2, 154, 67, 1);
    line-height: 1.8;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
    background-color: #29c36a;
    color:#FFF;
    border: 0;
    -webkit-box-shadow: 0 3px 0 rgba(2, 139, 61, 1);
    box-shadow: 0 3px 0 rgba(2, 139, 61, 1);
}
.btn-primary {
    background-color: #2db6d8;
    background-image:none;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #209ab8!important;
    color:#FFF!important;
}
.btn-warning {
    line-height: 1.8;
    -webkit-box-shadow: 0 3px 0 rgb(177, 116, 29);
    box-shadow: 0 3px 0 rgb(177, 116, 29);
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
    -webkit-box-shadow: 0 3px 0 rgb(177, 116, 29);
    box-shadow: 0 3px 0 rgb(177, 116, 29);
}

.subscribe {
    padding: 45px 0;
}
.alertMsg {
    font-size: 14px;
    display: block;
    padding: 5px 17px;
    text-align:center;
}
.masthead .form-control {
    border: 0;
}

/* Boucing Arrow Animation */

@keyframes arrowbounce {
    from {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}
@-moz-keyframes arrowbounce { /* Firefox */
    from {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}
@-webkit-keyframes arrowbounce { /* Safari and Chrome */
    from {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}
@-o-keyframes arrowbounce { /* Opera */
    from {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}
.scrollto, .scrollto:hover {
    margin:30px;
    display:block;
    color:#FFF;
    text-decoration:none;
    width:200px;
    margin:0 auto;
}
.scrollto--arrow {
    padding:10px;
}
.scrollto--arrow img {
    animation: arrowbounce 1s alternate infinite;
    -moz-animation: arrowbounce 1s alternate infinite; /* Firefox */
    -webkit-animation: arrowbounce 1s alternate infinite; /* Safari and Chrome */
    -o-animation: arrowbounce 1s alternate infinite; /* Opera */
}
/*========== 3. HERO IMAGE ==============*/

.section-title {
    text-align:center;
    margin-top:60px;
    margin-bottom:30px;
}
.section-title h2 {
    color:#0aa2ff;
}
.section-title h4 {
    color:#94a3a8;
}
.heroimg img, .clientlogo img {
    max-width:100%;
}
/*========== 4. FEATURES ==============*/

.features {
    margin:25px 0;
}
.thumbnail {
    border:0;
    text-align:center;
}
.thumbnail .caption p {
    color: #262626;
}
/*Hover Animation*/

.thumbnail img {
    -moz-transition:all 0.6s ease;
    -webkit-transition:all 0.6s ease;
    -ms-transition:all 0.6s ease;
    -o-transition:all 0.6s ease;
    transition:all 0.6s ease;
}
.thumbnail:hover img {
    -moz-transform:scale(1.05);
    -webkit-transform:scale(1.05);
    -o-transform:scale(1.05);
    -ms-transform:scale(1.05);
    transform:scale(1.05);
    z-index:2;
}
/*========== 5. TESTIMONIALS ==============*/

.testblock {
    width:100%;
    height:auto;
    padding:20px;
    background:#FFF;
    color:#666;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    font-family:Georgia, "Times New Roman", Times, serif;
    font-style:italic;
    position:relative;
    line-height:28px;
    font-size:16px;
}
.testblock:after {
    top: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #ffffff;
    border-width: 15px;
    margin-left: -15px;
}

.whatis{
    -moz-transition:all 0.6s ease;
    -webkit-transition:all 0.6s ease;
    -ms-transition:all 0.6s ease;
    -o-transition:all 0.6s ease;
    transition:all 0.6s ease;
    font-size:19px;
    color:#666;
}
.whatis:hover{
    -moz-transform:scale(1.05);
    -webkit-transform:scale(1.05);
    -o-transform:scale(1.05);
    -ms-transform:scale(1.05);
    transform:scale(1.05);
    z-index:2;
}
.clientblock {
    margin-top:40px;
    margin-left:10px;
}
.clientblock img {
    float:left;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
}
.clientblock p {
    color:#fff;
    padding-left:80px;
    padding-top:13px;
}
.clientblock p strong {
    color:#ccc;
    font-size:16px;
}
/* Animation */

.testblock {
    -moz-transition:all 0.6s ease;
    -webkit-transition:all 0.6s ease;
    -ms-transition:all 0.6s ease;
    -o-transition:all 0.6s ease;
    transition:all 0.6s ease;
}
.testblock:hover {
    -moz-transform:scale(1.05);
    -webkit-transform:scale(1.05);
    -o-transform:scale(1.05);
    -ms-transform:scale(1.05);
    transform:scale(1.05);
    z-index:2;
}
/*========== 6. PLANS AND PRICING ==============*/

.pricing {
    padding:25px;
    color:#FFF;
    text-align:center;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.pricing .planname {
    text-transform:uppercase;
    font-weight:600;
}
.pricing .price {
    font-size:52px;
    font-weight:300;
    margin:10px 0;
}
.pricing .billing {
    text-transform:uppercase;
    color:#FFF;
    opacity:0.7;
}
.pricing .price .curr {
    display:inline-block;
    font-size:20px;
    vertical-align:super;
}
.pricing .price .per {
    display:inline-block;
    font-size:20px;
    vertical-align: baseline;
}
.color1 {
    background-color:#5ca2e0;
}
.color2 {
    background-color:#7676c6;
}
.color3 {
    background-color:#885fc1;
}
/* Animation */

.pricing {
    -moz-transition:all 0.6s ease;
    -webkit-transition:all 0.6s ease;
    -ms-transition:all 0.6s ease;
    -o-transition:all 0.6s ease;
    transition:all 0.6s ease;
}
.pricing:hover {
    -moz-transform:scale(1.05);
    -webkit-transform:scale(1.05);
    -o-transform:scale(1.05);
    -ms-transform:scale(1.05);
    transform:scale(1.05);
    z-index:2;
}

/*========== 7. FAQ ==============*/

.faq p {
    color:#262626;
    margin-bottom:25px;
}

/*==========8. FOOTER ==============*/


.footercta {
    padding: 60px 15px;
    color: #FFF;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    background-color: #6883cc;
    background-image:url(../images/footer_definitivo2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.footerlinks {
    text-align:center;
}
.footerlinks a {
    text-align:center;
    padding:0 13px;
    display:inline-block;
    padding-bottom: 15px;
    font-size:20px;
    color:#fff;
}

.footerlinks a:hover{
    color:#0a76b9;
    text-decoration: none;
}



/*==========9. CUSTOM MEDIA QUERIES==============*/


/*MEDIA QUERIES*/

@media (max-width: 991px) {
    h1 {
        font-size: 35px;
        line-height: 50px;
        margin: 15px 0;
    }
    h2 {
        font-size: 35px;
    }
    .testimonials [class*="col-"]:not(:first-child) {
        margin-top: 40px;
    }
    .planpricing [class*="col-"]:not(:first-child) {
        margin-top: 30px;
    }
    .breath {
        margin: 30px auto;
    }
}
@media (max-width: 767px) {
    h1 {
        font-size: 30px;
        line-height: 40px;
    }
    h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .subscribe [class*="col-"]:not(:first-child) {
        margin-top: 30px;
    }
    .masthead {
        padding: 40px 15px;
    }
}
@media (max-width: 480px) {
    /*Media Queries for smaller devices*/
    .masthead {
        background-attachment: scroll;
    }

}



/*=== v1.1 ===*/

@media (max-device-width: 992px) {

    .masthead {
        background-size: cover;
        background-attachment: scroll;
    }

}


/*=== v 2.0 ===*/


.signup-block {
    padding:20px;
    background:rgba(255,255,255,0.25);
    border-radius:7px;
    margin-bottom:25px;
}

.form-group.last {
    margin-bottom:0;
}

.multiple-btns .btn + .btn {
    margin:10px;
}


/*=== Vertical Signup ===*/

.signup-v-layout .masthead {
    padding: 15px;
}

.signup-v-layout .logo {
    padding: 10px 0;
}

/*=== Signup video ===*/

.signup-video .masthead {
    padding: 15px;
}

.signup-video .logo {
    padding: 10px 0;
}


/*=== Web App page ===*/

.web-app .masthead {
    padding: 15px;
}

.web-app .logo {
    padding: 15px 0;
}


.web-app .masthead {
    background-image:url(../images/header_color_2.jpg);
    padding-bottom:0;
}

.web-app .footercta {
    background-image:url(../images/footer_color_2.jpg);
}



/*=== Mob App page ===*/

.mob-app .masthead {
    padding: 15px;
}

.mob-app .logo {
    padding: 15px 0;
}


.mob-app .masthead {
    background-image:url(../images/header_color_3.jpg);
}

.multiple-links a img {
    margin:5px;
}

.mob-app .footercta {
    background-image:url(../images/footer_color_3.jpg);
}



/*=== Navigation ===*/

.navbar-default {
    background-color: #FFF;
    border-color:#e0e0e0;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
    color: #FFF;
    font-weight:bold;
}

.navbar-default .navbar-nav > li > a {
    color: #333;
    text-transform:uppercase;
    font-weight:bold;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #333;
    background-color: rgba(255, 255, 255, 0.22);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: rgba(0, 0, 0, 0.5);
    background-color: transparent;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #333;
    background-color: rgba(255, 255, 255, 0.21);
}

.navbar-brand {
    padding: 8px 15px;
}


/*========== 10. BLOG ==============*/

.pagination>li>a, .pagination>li>span {
    color:#483f34;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    color:#917E68;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    background-color: #5ca2e0;
    border-color: #3172AC;
    color: #FFFFFF;
}
.vertical-links li {
    border-bottom: 1px solid #E6DDD4;
    padding: 8px 0;
}
.tag-cloud a {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 2px 8px;
    border: 1px solid #eceae4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #f8f7f3;
    font-size: 12px;
}
.tag-cloud a:hover {
    text-decoration:none;
}
.comments-block > .media {
    border-bottom: 1px solid #eadeda;
    padding-bottom:20px;
    margin-bottom:20px;
}
.comments-block > .media .media {
    border-top: 1px solid #eadeda;
    padding-top:20px;
}
.media-object {
    width: 40px;
}
.comments-head {
    font-size:35px;
    color:#53504c;
    border-bottom: 1px solid #eadeda;
    margin:40px 0 20px;
    padding-bottom:10px;
}
