/* section background
/* -------------------------------------------------- */
section{padding:90px 0 90px 0;}
#subheader{background:url(../images/background/bg-subheader.jpg) top fixed;}
#fun-facts{background:url(../images/background/bg-3.jpg) top fixed;}
#info-address{background:url(../images/background/bg-3.jpg) top fixed;}
#logo-full{ background:#0a6ebd; padding:60px 0 60px 0;}
#view-all-projects{background:#0a6ebd; padding:60px 0 60px 0;}
#section-about-us-2{background:#f5f5f5; height:100%;}
#section-about-us-2 .image-container{background:url(../images/guimocabeca1.png);}
#section-contact{ background:url(../images/background/bg-4.jpg) top fixed;}
#section-welcome{background:url(../images/background/bg-5.jpg) top fixed;}
#section-welcome-2{background:url(../images/background/bg-6.jpg) top fixed;}
#section-welcome-3{background:url(../images/background/bg-7.jpg) top fixed;}
#section-portfolio{background:#222;}
#section-skill-bar{ background:url(../images/background/bg-8.jpg) top fixed;}
#section-testimonial{ background:url(../images/background/bg-2.jpg) top fixed;}

.team-desc{background-color: #0a6ebd !important; color:#fff !important;}
.team-desc>.social>a{color:#fff}
.team-desc>.social>a:hover{color:#111}
.de-video-overlay-30{
    position:absolute;
    width:100%;
    background:rgba(0, 0, 0, 0.3) !important:;
}
.white{
    color:#fff;
}
.whiteform #contact_form input[type=text], .whiteform #contact_form textarea, .whiteform #contact_form input[type=email] {
    font-size: 15px;
    margin-bottom: 20px;
    color: #fff !important;
    border: none;
    border: solid 1px #555;
    background: rgba(0,0,0,0.3);
    border-radius: 0 !important;
}
#contact_form button[type=button]{
    background: none;
}

#contact_form button[type=button]:hover{
    color:#0a6ebd !important;
    border-color: #0a6ebd;
}

.white>a.btn{
    background: #fff;
}

.text-lg{
    font-size: 2em !important;
}

.error{
    border: none;
    display: none;
    color: #f16563;
    font-size: 14px;
}





